script(src="/components/angular/angular.js")
script(src="/components/angular-ui-router/release/angular-ui-router.js")
script(src="/components/angular-cookies/angular-cookies.js")

script(src="/js/api/api.js")
script(src="/js/profile/profile-controller.js")
script(src="/js/repos/repo-factory.js")
script(src="/js/users/user-factory.js")
script(src="/js/app.js")
