include ../includes/layout
    block content
        main(role="main" ui-view)

        if commits
            h1 Select commit
            form(action="/compare" method="post")#pr-commit-form
                ul
                each commit in commits
                    li
                        label
                            input(type="radio" value="#{commit.sha}" name="commit")
                            span #{commit.commit.message}
                input(type="submit" value="Select commit")
